@font-face {
  font-family: 'WWF';
  src: url('https://wwf-fonts.s3-eu-west-1.amazonaws.com/WWF-WEBFONT.ttf');
  font-weight: normal;
  font-style: normal;
}

h1{
  font-family: WWF!important;
}

.wwf-header{
width: 100%;
display: flex;
justify-content: left;
padding: 1rem 11%;
}

.wwf-logo{
  width: 8rem;
}

#wr_content{
  background-color: rgba(255,255,255,0);
  margin-top: 1rem;
}


.li1 a{
 font-family: 'Open Sans', sans-serif;
   padding: 1rem 1.2rem;
font-size: .9rem;
    transition: background-color 0.2s ease;
  letter-spacing: .4px;
}

.li1 a:hover{
  color: #fff!important;
  background-color: #f89834;
  text-decoration:none!important;
}

.keepopen a{
 font-family: 'Open Sans', sans-serif;
   padding: 1rem 1.2rem;
font-size: .9rem;
    transition: background-color 0.2s ease;
  letter-spacing: .4px;
}

.keepopen a:hover{
  color: #fff!important;
  background-color: #f89834;
  text-decoration:none!important;
}

#messageDiv{
background-color: #444;
}

.job-search-link{
background-color: #f89834;
  color: #fff!important;
}

#wr_navigation[fixednavigation-v-large] #menu li a{
  margin-bottom: 0!important;
  border-bottom: 1px solid #999;
}

fixednavigation{
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.18);
}

option:checked {
    box-shadow: 0 0 10px 100px #f89834 inset;
}

.standard_bu{
background-color: #f89834;
border: #f89834;
transition: 0.2s ease;
}

.standard_bu:hover, .standard_bu:active, .standard_bu:focus{
  color: #fff!important;
  background-color: #f9a54d!important;
  border: #f9a54d;
}

#fixednavigation a:link, #fixednavigation-v-small a:link{
  color: #fff;
font-family: WWF;
font-size: 1.2rem;
text-transform: uppercase;
}


body.horizontal #menu li{
  padding: 0;
}

#fixednavigation a:visited, #fixednavigation-v-small a:visited{
   color: #fff;
}

table.page_header, table.sect_header td.theader h2, table.sect_header div.header h2, div.sect_header h2{
  font-family: 'Open Sans', sans-serif;
}

.wwf-footer-container{
  border-top: 1px solid #d9d6d6;
}

.wwf-footer-logo{
  width: 3rem;
  margin-right: 1rem;
}

.wwf-footer-left{
  width: 50%;
}

.wwf-footer-left a{
  font-family: WWF;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
font-size: 1.4rem;
margin: 0 1rem;
}

.wwf-footer-left a:hover{
 text-decoration: underline;
}


.wwf-footer-right{
width: 50%;
display: flex;
align-items: left;
  text-align: left;
}

.wwf-footer-right span{
      font-size: 0.8rem;
    color: #606060;
  line-height: 20px;
}

.wwf-footer-container{
display: flex;
padding: 1rem 11%;
align-items: center;
  text-align: left;
}

.wwf-top-header{
  background: #000;
padding: 1rem 11%;
}

.wwf-top-header a{
  color: #fff;
font-family: WWF;
font-size: 1.4rem;
text-transform: uppercase;
  text-decoration: none;
     transition: color 0.2s ease;

}

.wwf-top-header a:hover {
color: #f89834;
}

@media only screen and (max-width: 1112px) {
.horizontal #fixednavigation, .use-hamburger #fixednavigation, .use-hamburger #fixednavigation-v-small{
  padding: 1.7rem 11%;
  }

   .job-search-link{
padding: .96rem!important;
     top: 0!important;
   }

   #fixednavigation a:link, #fixednavigation-v-small a:link{
     color: #000;
   }
}

 @media only screen and (max-width: 769px) {
.horizontal #fixednavigation, .use-hamburger #fixednavigation, .use-hamburger #fixednavigation-v-small, .wwf-header {
    padding: 1.7rem 4% !important;
}
}

 @media only screen and (max-width: 1025px) {
.wwf-top-header{
  text-align: center;
  padding: 1rem 0;
   }

   .wwf-footer-container{
     flex-direction: column;
   }

   .wwf-footer-right, .wwf-footer-left {
    width: 100%;
   }

   .wwf-footer-right span{
     margin: 1.2rem 1rem;
   }

   .wwf-footer-logo{
     display: none;
   }

   #fixednavigation a:link, #fixednavigation-v-small a:link, #fixednavigation a:visited, #fixednavigation-v-small a:visited{
     color: #000;
   }

}

table.sect_header, div.sect_header {
    border-top: 1px solid rgba(0,0,0, 0.1);
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    border-left: 1px solid rgba(0,0,0, 0.1);
    border-right: 1px solid rgba(0,0,0, 0.1);
    background-color: rgba(0,0,0, 0.1);
    font-family: 'Open Sans', Arial, sans-serif;
    color: #333333;
    font-size: 1em;
}

body.horizontal #menu li:not(.last-menu-item):not(#log-out-list-item){
  padding-right: 0!important;
}
body.horizontal #menu li:not(:first-of-type){
  padding-left: 0!important;
}

.material-icons{
  line-height: 0;
}

a:hover, a:focus, #fixednavigation a:hover, #fixednavigation a:focus, #fixednavigation-v-small a:hover, #fixednavigation-v-small a:focus, #wr-context-menu a:hover, #wr-context-menu a:focus, .app-summary-section a:hover, .app-summary-section a:focus, a.intv_cancel:hover, a.intv_cancel:focus, .wr_msg a:hover, .wr_msg a:focus, .bu_as_link:hover, .previous-link:focus, .previous-link:hover, .next-link:focus, .next-link:hover, #appPages a, #wr_other a, .job-result-title{
  text-decoration: none;
}

a.apg_standard_bu, a.rpg_standard_bu, a.ppg_standard_bu, a.fin_standard_bu{
  color: #fff;
}

.job-result-title, a.social-media-link{
  transition: .2s ease;
}

#appPages a, #wr_other a, .job-result-title:hover, .job-result-title{
  color: #f89834;
}


#appPages a:hover, #wr_other a:hover, .job-result-title:hover, .job-result-title:hover{
text-decoration: underline !important;
}

a.social-media-link:hover path, a.social-media-link:focus path {
    fill: #f89834;
}

#log-out-list-item{
  position: relative;
}

#log-out-in-menu{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

a.apg_standard_bu:focus, a.apg_standard_bu:hover, a.apg_standard_bu:active, a.rpg_standard_bu:focus, a.rpg_standard_bu:hover, a.rpg_standard_bu:active, a.ppg_standard_bu:focus, a.ppg_standard_bu:hover, a.ppg_standard_bu:active, a.fin_standard_bu:focus, a.fin_standard_bu:hover, a.fin_standard_bu:active{
  color: #fff;
}

td span a{
  color: #333;
}

h1{
  font-family: WWF;
font-weight: normal;
text-transform: capitalize;
font-size: 1.6rem;
}

td h2 label{
  font-family: WWF;
font-weight: normal;
text-transform: capitalize;
font-size: 1.6rem;
}

.job-desc-more-details{
  color: #F89834;
}

.application_page_nav input[name^="BU_UPDATE"]:hover, .application_page_nav input[name^="BU_UPDATE"]:active, .application_page_nav input[name^="BU_UPDATE"]:focus, input[name^="BU_CANCEL"]:hover, input[name^="BU_CANCEL"]:active, input[name^="BU_CANCEL"]:focus, body:not([page-name="myApplications"]):not([page-name="myProfile"]) input[name^="BU_BACK"]:hover, body:not([page-name="myApplications"]):not([page-name="myProfile"]) input[name^="BU_BACK"]:active, body:not([page-name="myApplications"]):not([page-name="myProfile"]) input[name^="BU_BACK"]:focus, input[name^="BU_RET"]:hover, input[name^="BU_RET"]:focus, body[page-name="sendToAFriendConf"] [name^="BU_SUBMIT"]:hover, body[page-name="sendToAFriendConf"] [name^="BU_SUBMIT"]:active, body[page-name="sendToAFriendConf"] [name^="BU_SUBMIT"]:focus, .standard_bu-grey:not(.dis):hover, .standard_bu-grey:not(.dis):active, .standard_bu-grey:not(.dis):focus, div.standard_bu-focus.standard_bu-grey, input[type="submit"].standard_bu-grey:not(.dis):hover, input[type="submit"].standard_bu-grey:not(.dis):focus{
  background-color: rgba(136,136,136,0.5) !important;
}
/* Mandatory Icon Color */
.mand_large{
  border-color: #e70000;
}

body:not(.high-contrast-mode) .ss_mand_hid::after{
    color: #e70000;
}


.use-hamburger #show-menu-button, .use-hamburger #show-menu-button-v-small{
  margin:0!important;
}

#show-menu-button{
    margin:0!important;
}




