@font-face {
  font-family: 'WWF';
  src: url('https://wwf-fonts.s3-eu-west-1.amazonaws.com/WWF-WEBFONT.ttf');
  font-weight: normal;
  font-style: normal;
}

h1{
  font-family: WWF!important;
}

.wwf-header{
width: 100%;
display: flex;
justify-content: center;
padding: 1rem 0;
}

.wwf-logo{
  width: 3rem;
}

.li1{
 font-family: 'Open Sans', sans-serif;
font-size: 1rem;
}

a:hover{
  text-decoration:none;
}
.job-search-link{
font-weight: 500;
 padding: .2rem .4rem;
}


