@font-face {
  font-family: 'WWF';
  src: url('https://wwf-fonts.s3-eu-west-1.amazonaws.com/WWF-WEBFONT.ttf');
  font-weight: normal;
  font-style: normal;
}

h1{
  font-family: WWF!important;
}

.wwf-header{
width: 100%;
display: flex;
justify-content: center;
padding: 1rem 0;
}

.wwf-logo{
  width: 3rem;
}

.li1 a{
 font-family: 'Open Sans', sans-serif;
   padding: .4rem .6rem !important;
font-size: .9rem;
    transition: background-color 0.2s ease;
}

.li1 a:hover{
  color: #fff!important;
  background-color: #f89834;
  text-decoration:none!important;
}

.job-search-link{
background-color: #f89834;
  color: #fff!important;
font-weight: bold;
}

#wr_navigation[fixednavigation-v-large] #menu li a{
  margin-bottom: 0!important;
}

.wr_header{
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.18);
}

.standard_bu{
background-color: #f89834;
border: #f89834;
transition: 0.2s ease;
}

.standard_bu:hover{
background-color: #f26647;
border: #f26647;
}

#menu{
  background: #222;
}

#fixednavigation a:link, #fixednavigation-v-small a:link{
 color: #acacac; 
}

#fixednavigation a:visited, #fixednavigation-v-small a:visited{
   color: #acacac; 
}

table.page_header, table.sect_header td.theader h2, table.sect_header div.header h2, div.sect_header h2{
  font-family: 'Open Sans', sans-serif;
}
