@font-face {
  font-family: 'WWF';
  src: url('https://wwf-fonts.s3-eu-west-1.amazonaws.com/WWF-WEBFONT.ttf');
  font-weight: normal;
  font-style: normal;
}

h1{
  font-family: WWF!important;
}

.wwf-header{
width: 100%;
display: flex;
justify-content: center;
padding: 1rem 0;
}

.wwf-logo{
  width: 3rem;
}

.li1 a{
 font-family: 'Open Sans', sans-serif;
   padding: .2rem .4rem!important;
font-size: .9rem;
    transition: background-color 0.25s ease-in;
}

.li1 a:hover{
  background-color: #f89834;
  text-decoration:none!important;
}

.job-search-link{
font-weight: bold;
}


