@font-face {
  font-family: 'WWF-WEBFONT';
  src: url('WWF-WEBFONT.eot');
  src: url('WWF-WEBFONT.eot?#iefix') format('embedded-opentype'),
       url('WWF-WEBFONT.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WWF';
  src: url('https://www.wwf.org.uk/themes/custom/wwf/fonts/WWF-WEBFONT.ttf');
  font-weight: normal;
  font-style: normal;
}



h1{
  font-family: WWF!important;
}

body{
  background-color: red!important;
}

